*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.player{
    width:450px;
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.controls{
    margin:20px 0;
}

.controls button{
    padding:10px 15px;
    margin:0 5px;
    cursor:pointer;
}

.progress-container{
    width:100%;
    height:10px;
    background:#ddd;
    border-radius:20px;
    cursor:pointer;
    margin:15px 0;
}

#progress{
    height:100%;
    width:0%;
    background:#4caf50;
    border-radius:20px;
}

.time{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

#volume{
    width:100%;
    margin-bottom:20px;
}

#playlist{
    list-style:none;
    text-align:left;
}

#playlist li{
    padding:10px;
    border-bottom:1px solid #ddd;
    cursor:pointer;
}

#playlist li:hover{
    background:#eee;
}

.active{
    background:#d4edda;
}
